@import 'svelte-highlight/styles/atom-one-light.css' (prefers-color-scheme: light);
@import 'svelte-highlight/styles/atom-one-dark.css' (prefers-color-scheme: dark);

:root {
    --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-size: 2rem;
    --font-weight: 400;
    --line-height: 1.5;

    --background: #efe8e4;
    --text-color: #213547;
    --text-color-muted: #888;

    --border-radius: 8px;
    --border-color: #aaa;

    --link-color: #424cff;
    --link-hover-color: #101bf2;
    --link-focus: #646cff;
    --link-border-radius: 4px;

    --code-background: #f9f9f9;
    --code-text: #000;

    --button-background: #f9f9f9;
    --button-background-hover: #f0f0f0;
    --button-text: #000;
    --button-focus: #646cff;
    --button-border-color: transparent;
    --button-border-hover: #646cff;
    --button-border-radius: 8px;

    --select-background: #f9f9f9;
    --select-background-hover: #f0f0f0;
    --select-text: #000;
    --select-focus: #646cff;
    --select-arrow: #888;
    --select-border-color: transparent;
    --select-border-hover: #646cff;
    --select-border-radius: 8px;

    --tab-background: #f9f9f9;
    --tab-background-hover: #f0f0f0;
    --tab-background-selected: #dadada;
    --tab-text: #000;
    --tab-border-color: transparent;
    --tab-border-hover: #424add;
    --tab-border-selected: #646cff;
    --tab-bar-border-color: #dadada;

    --nav-menu-background: #f9f9f9;
    --nav-menu-background-hover: #f9f9f9;
    --nav-menu-text: #000;
    --nav-menu-focus: #646cff;
    --nav-menu-text-hover: #646cff;
    --nav-menu-selected: #424cff;

    --pci-background: #f9f9f9;
    --pci-border-color: #f0f0f0;

    --error-color: #d8000c;
    --error-background: #fff0f0;
    --error-border: #d8000c;

    --z-index-page: 0;
    --z-index-controls: 1;
    --z-index-hover: 2;
    --z-index-fixed: 3;
    --z-index-overlay: 3;

    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: var(--font-weight);

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #242424;
        --text-color: rgba(255, 255, 255, 0.87);
        --text-color-muted: #888;

        --border-radius: 8px;
        --border-color: #444;

        --link-color: #868cff;
        --link-hover-color: #757bf2;
        --link-focus: #646cff;

        --code-background: #c9c9c9;
        --code-text: #000;

        --button-background: #3a3a3a;
        --button-background-hover: #4a4a4a;
        --button-text: #ffffff;
        --button-focus: #646cff;
        --button-border-color: transparent;
        --button-border-hover: #646cff;

        --select-background: #3a3a3a;
        --select-background-hover: #4a4a4a;
        --select-text: #ffffff;
        --select-focus: #646cff;
        --select-arrow: #888;
        --select-border-color: transparent;
        --select-border-hover: #646cff;

        --tab-background: #3a3a3a;
        --tab-background-hover: #4a4a4a;
        --tab-background-selected: #686868;
        --tab-text: #ffffff;
        --tab-border-color: transparent;
        --tab-border-hover: #424add;
        --tab-border-selected: #646cff;
        --tab-bar-border-color: #686868;

        --nav-menu-background: #3a3a3a;
        --nav-menu-background-hover: #3a3a3a;
        --nav-menu-text: #ffffff;
        --nav-menu-focus: #646cff;
        --nav-menu-text-hover: #646cff;
        --nav-menu-selected: #868cff;

        --pci-background: #3a3a3a;
        --pci-border-color: #4a4a4a;

        --error-color: #d8000c;
        --error-background: #fff0f0;
        --error-border: #d8000c;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 50%;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--background);
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    min-width: 0;
}

a {
    appearance: none;
    position: relative;
    font-weight: 500;
    outline: none;
    color: var(--link-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--link-hover-color);
}
a:focus::after,
a:focus-visible::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -6px;
    right: -6px;
    bottom: -4px;
    border: 2px solid var(--link-focus);
    border-radius: var(--link-border-radius, 4px);
}

@media (max-width: 1200px) {
    :root {
        --font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    :root {
        --font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    :root {
        --font-size: 1.4rem;
    }
}
